<!DOCTYPE html>
<html>
<head>
  <title>Ruminer Extension Settings</title>

</head>
<body>
  <div class='wrapper'>
    <h1>API Key</h1>

    <label for="api-key">API Key:</label>

    <input type="text" id="api-key" style="width: 95%">

    <br><br>

    <button id="save-api-key-btn">Save API Key</button>


    <h1>API URL</h1>

    <label for="api-url">API URL:</label>
    <input type="text" id="api-url" style="width: 95%">
    <br><br>
    <button id="save-api-url-btn">Save API URL</button>

    <h1>RUMINER URL</h1>

    <label for="ruminer-url">API URL:</label>
    <input type="text" id="ruminer-url" style="width: 95%">
    <br><br>
    <button id="save-ruminer-url-btn">Save Ruminer URL</button>

    <script src="options.js"></script>
</body>
</html>
